@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

body {
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
}

#gameContainer {
  padding: 2em;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

#starContainer {
  font-size: 2em;
}

.emptyStar {
  color: #ccc;
}

.fullStar {
  color: #fc0;
}

#instructions {
  margin: 1em 0;
}

#deckContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  width: 200px;
  height: 300px;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  line-height: 300px;
  text-align: center;
  border-radius: 10px;
}

.front {
  background-color: #fff;
}

.back {
  transform: rotateY(0deg);
  background-color: #ff4081;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-mark {
  font-size: 5em;
  color: #fff;
}

button {
  display: none;
}

button.active {
  display: inline-block;
}

#startButton {
  width: 100px;
  height: 40px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#timer {
  font-size: 24px;
  margin-top: 20px;
}
