@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

body {
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
}

#gameContainer {
  padding: 2em;
}

#gamePlayArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

#starContainer {
  font-size: 6em; /* the size of the stars */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em; /* the space between the stars and the deck */
}

.emptyStar {
  color: #ccc;
}

.fullStar {
  color: #fc0;
}

#instructions {
  margin: 1em 0;
}

#deckContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card {
  width: 200px;
  height: 300px;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  perspective: 1000px;
  border-radius: 10px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  line-height: 300px;
  text-align: center;
  border-radius: 10px;
}

.front {
  background-color: #ffffff;
  font-size: larger;
}

.back {
  background-color: #ff4081;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-mark {
  font-size: 5em;
  color: #fff;
}

button {
  display: none;
}

button.active {
  display: inline-block;
}

#startButton {
  margin-top: 1em;
  width: 100px;
  height: 40px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#timer {
  font-size: 24px;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.modal-content button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
}
